@model CounterTexFront.Models.ProduccionDiariaViewModel

@{
    ViewBag.Title = "Detalle de Producción";
    Layout = ViewBag.Layout;
}

<h2>Detalle de Producción</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Fecha</dt>
        <dd class="col-sm-10">@Model.Fecha.ToShortDateString()</dd>

        <dt class="col-sm-2">Usuario</dt>
        <dd class="col-sm-10">@Model.UsuarioId</dd>

        <dt class="col-sm-2">Prenda</dt>
        <dd class="col-sm-10">@Model.PrendaId</dd>

        <dt class="col-sm-2">Total</dt>
        <dd class="col-sm-10">@Model.TotalValor</dd>
    </dl>

    <h4>Detalles</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Operación ID</th>
                <th>Cantidad</th>
                <th>Valor Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model.Detalles)
            {
                <tr>
                    <td>@d.OperacionId</td>
                    <td>@d.Cantidad</td>
                    <td>@d.ValorTotal</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-secondary" })
</p>