<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CounterTex</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>

    <style>
        .sidebar {
          height: 100%;
          width: 0;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: #111;
          overflow-x: hidden;
          padding-top: 60px;
          transition: 0.5s;
        }

        .sidebar a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          color: #818181;
          display: block;
          transition: 0.3s;
        }

        .sidebar a:hover {
          color: #f1f1f1;
        }

        .sidebar .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
        }

        .openbtn {
          font-size: 20px;
          cursor: pointer;
          background-color: #111;
          color: white;
          padding: 10px 15px;
          border: none;
        }

        .openbtn:hover {
          background-color: #444;
        }

        #main {
          transition: margin-left .5s;
          padding: 20px;
        }

        .last-option {
            margin-top: 178%; /* Empuja esta opción hacia el final de la sidebar */
        }

        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @*@media screen and (max-height: 450px) {
          .sidebar {padding-top: 15px;}
          .sidebar a {font-size: 18px;}
        }*@
    </style>

</head>
<body>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="@Url.Action("ProduccionDiaria", "Control")" style="font-size: 15px">Producción Diaria</a>
        <a href="@Url.Action("ControlHorarios", "Control")" style="font-size: 15px">Control de horarios</a>
        <a href="@Url.Action("ProduccionMensual", "Control")" style="font-size: 15px">Producción Mensual</a>
        <a href="@Url.Action("ControlPrendas", "Control")" style="font-size: 15px">Control de Prendas</a>
        <a href="@Url.Action("Contacto", "Control")" style="font-size: 15px">Control de Pagos</a>

        @using (Html.BeginForm("LogOff", "Auth", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit();" class="last-option" style="font-size: 15px">Cerrar Sesión</a>
        }
    </div>

    <div id="main">

        <div class="row">
            <div class="col-md-6" style="width: fit-content">
                <button class="openbtn" onclick="openNav()">Menú</button>
            </div>
            <div class="col-xl-11 col-sm-6 col-md-4 col-lg-3">
                <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
                    <div class="container-fluid">
                        <span class="navbar-brand mb-0 h1 ms-auto">Bienvenido a CounterTex, @User.Identity.Name</span>
                    </div>
                </nav>
            </div>

        </div>



        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
    <footer>
    </footer>
</body>
</html>
