@model CounterTexFront.Models.LoginViewModel

<form class="px-4 py-3" action="@Url.Action("Login","Home")" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        @Html.LabelFor(m => m.UserName, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "correo@ejemplo.com" })
        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(m => m.Password, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Contraseña" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
    <br />
    <input type="submit" class="btn btn-info" value="Iniciar Sesión" />
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="@Url.Action("Create", "Usuarios")">No tienes cuenta? Registrate </a>
</form>